trigger:
  branches:
    include:
      - '*'

resources:
  repositories:
    - repository: pipelines
      type: git
      name: autosdlc/pipelines
      ref: main

stages:
  - template: .azuredevops/pipelines/trigger.yml@pipelines
